*{
    font-family: 'Poppins', sans-serif;
}
.carousel-inner img{
    filter: brightness(50%);
}
.custom-text-decoration{
    text-decoration: none;
}
.custom-text-decoration a{
    color: aliceblue;
}
@media only screen and (max-width:767px){
    .carousel-inner img{
        height: 275px;
        object-fit: cover;
    }

    .carousel-inner h1{
        font-size: 18px;
    }

    .carousel-inner p{
        font-size: 12;
    }
    
}